@import '../portal/portal.variables.scss';

.order2 {
    order: 2;
    margin-right: 0.5%;
    margin-left: 140px;
    display: flex;
    justify-content: flex-end;
    right: 0;
    margin-left: 140px;
    text-align: right !important;
    width: 100%;
}

.footer-right {
    z-index: 666;
    background: #ffffffa3;
    font-size: 0.7rem;
    align-items: center;
    height: $footer-height;
    display: flex;
    margin-left: auto;
}

span.footer-text {
    color: #095797;
    align-self: center;
    margin-left: 0.5rem;
}

span.footer-text a{
    color: #095797;
    text-decoration: none;
}


//**Scale**//

::ng-deep div.ol-scale-line {
    position: fixed !important;
    background: unset;
    display: flex;
    flex-direction: row;
    left: 2px !important;
}

::ng-deep .map-hasFooter {
    height: calc( 100% - #{$footer-height} ) !important;
}

::ng-deep .ol-scale-line-inner {
    border: 1px solid black;
    color: black;
    border-top: none;
    order: 1;
}
