// https://design.quebec.ca/
@import 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Roboto:wght@400;500;600;700&display=swap';
@import '.././app/pages/portal/portal.variables.scss';

$igo-margin: 4px;

:root {
    --breakpoint-pgu-sm: 320px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 960px;
    --breakpoint-xl: 1024px;
}
    
html,body {
padding: 0;
margin: 0 !important;
width: 100%;
height: 100%;
font-size: 16px;
font-family: 'Open Sans', sans-serif;
color: #223654;
}

@media (min-width: 1024px) and (orientation: landscape){
    body {
    margin: 0 !important;
    width: 100%;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    //overflow: hidden;
    }
    
    @media (min-width: 1280px) and (orientation: landscape){
        body {
        margin: 0 !important;
        }
    }
    
    html, body, div, span, applet, object, iframe, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    }
    
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-pgu-sm-1, .col-pgu-sm-2, .col-pgu-sm-3, .col-pgu-sm-4, .col-pgu-sm-5, .col-pgu-sm-6, .col-pgu-sm-7, .col-pgu-sm-8, .col-pgu-sm-9, .col-pgu-sm-10, .col-pgu-sm-11, .col-pgu-sm-12, .col-pgu-sm, .col-pgu-sm-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    position: relative;
    width: 100%;
    }
    
    .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
    }
    
    .container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    }
}

html, body, div, span, applet, object, iframe, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
vertical-align: baseline;
}

html, body {
    font-family: 'Open Sans', sans-serif;
}

.col-12 {
flex: 0 0 100%;
max-width: 100%;
}


.container {
width: 100%;
margin-right: auto;
margin-left: auto;
}

.row {
-ms-display: flex;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
align-content: flex-start;
height: 100%;
width: 98%;
margin: auto;
}

.page {
    overflow-y: auto!important;
    overflow-x: clip;
    height: calc($portal-height-hasMenu-hasHeader - (4 * $igo-margin)); //if no header: $portal-height-hasMenu
    width: 100%;
}

.col-6 {
flex: 0 0 50%;
max-width: 50%;
}

a {
word-break: break-word;
overflow-wrap: break-word;
cursor: pointer;
}

// Pour afficher le symbole de lien externe. Ex de HTML : 
/*
<a href="https://www.quebec.ca/" target="_blank" rel="noreferrer">Lien qui ouvrira dans une nouvelle fenêtre.&nbsp;<img class="linkExtImg" src="/typo3conf/ext/gabarit_pgu/Resources/Public/Images/Templates/lien-externe.svg" alt="Cet hyperlien s'ouvrira dans une nouvelle fenêtre."></a>
*/

.linkExtImg {
    max-height: 11px;
    max-width: 11px;
    margin-bottom: 0.16rem;
}

img {
vertical-align: middle;
border-style: none;
}

*, *::before, *::after {
box-sizing: border-box;
}

.d-none {
display: none;
}

.flex-column {
display: flex;
flex-direction: column !important;
}

.flex-wrap {
flex-wrap: wrap !important;
}

.d-flex {
display: -ms-flexbox !important;
display: flex !important;
}

.align-items-center {
-ms-flex-align: center !important;
align-items: center !important;
}

.justify-content-end {
-ms-flex-pack: end !important;
justify-content: flex-end !important
}

d-md-none {
display: none;
}

.align-self-end {
align-self: flex-end !important;
}

ul, ol {
    padding: 2px 1rem;
}

.piv {
color: #fff;
font: normal 1rem/1rem "Roboto", sans-serif;
word-break: break-all;
line-height: 1rem;
}

.piv a {
color: #fff;
text-decoration: none;
}

igo-panel-header, igo-panel-title, igo-panel-header button  {
    color: #fff !important;
}
.piv a:hover {
text-decoration: underline
}

a, .mat-toolbar.mat-primary {
color: #095797;
}

:disabled, mat-icon.disabled, :disabled :hover {
color: #223654 !important;
text-decoration: none;
}

igo-baselayers-switcher, igo-geolocate-button {
box-shadow: 0 1px 4px rgb(34 54 84 / 24%);
}

app-search-results-tool ul{
    margin-left: 1rem;
  }

::ng-deep .mat-stroked-button {
    border: 2px solid currentColor;
}

::ng-deep .mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, mat-button-base,
mat-stroked-button .mat-primary, .qcca-theme .mat-button, .qcca-theme .mat-icon-button, .qcca-theme .mat-stroked-button {
    border-radius: 0 !important;
}

.mat-raised-button {
    color: #095797 !important;
    border-color: #095797 !important;
}

.headline {
    background-color: #223654 !important;
}

// give a different class to each tooltip depending on the arrow side
::ng-deep .tooltip {
    position: relative!important;
    top: 30%;
    z-index: 5000!important;
    background-color:white!important;
    color: #223654!important;
    margin: 0 8px!important;
    padding: 8px 12px!important;
    font-size: 14px!important;
    line-height: 24px!important;
    border: 1px solid #c5cad2;
    border-radius: 0!important;
    overflow: visible !important;
    box-shadow: 0px 1px 7px #22365450!important;
    white-space: pre-line;
}


::ng-deep .tooltip::after {
  content: ''!important;
  position: absolute!important;
  top: 18%!important;
  right: 100%!important;
  margin-top: -5px!important;
  border-width: 10px!important;
  border-style: solid!important;
  border-color: transparent transparent transparent white!important;
  transform: rotate(180deg);
}

// Pour afficher le symbole de lien externe. Ex de HTML : 
/*
<a href="https://www.quebec.ca/" target="_blank" rel="noreferrer">Lien&nbsp;<img class="linkExtImg" src="../../../../../assets/images/lien-externe.svg" alt="Cet hyperlien s'ouvrira dans une nouvelle fenêtre."></a>
*/

.linkExtImg {
    max-height: 11px;
    max-width: 11px;
    margin-bottom: 0.16rem;
    float: left;
    display:inline;
    text-align: left;
}

img {
vertical-align: middle;
border-style: none;
}

*, *::before, *::after {
box-sizing: border-box;
}

.d-none {
display: none;
}

.flex-column {
display: flex;
flex-direction: column !important;
}

.flex-wrap {
flex-wrap: wrap !important;
}

.d-flex {
display: -ms-flexbox !important;
display: flex !important;
}

.align-items-center {
-ms-flex-align: center !important;
align-items: center !important;
}

.justify-content-end {
-ms-flex-pack: end !important;
justify-content: flex-end !important
}

d-md-none {
display: none;
}

.align-self-end {
align-self: flex-end !important;
}

.piv {
color: #fff;
font: normal 1rem/1rem "Roboto", sans-serif;
word-break: break-all;
line-height: 1rem;
}

.piv a {
color: #fff;
text-decoration: none;
}

.piv a:hover {
text-decoration: underline
}

a, .mat-toolbar.mat-primary {
color: #095797;
}

:disabled, mat-icon.disabled, :disabled :hover {
color: #223654!important;
text-decoration: none;
}

igo-baselayers-switcher, igo-geolocate-button {
box-shadow: 0 1px 4px rgb(34 54 84 / 24%);
}

//** TYPOGRAPHY **//

a {
word-break: break-word;
overflow-wrap: break-word;
cursor: pointer;
color: #095797;
text-decoration: underline;
background-color: transparent;
}

p, ul, li, u, .text  {
    font-family: 'Open Sans', sans-serif;
    color: #223654;
    font-size: 16px;
    line-height: 24px;
}

p {
    margin-bottom: 24px;
}

strong {
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { // removed h3 for conflict with layer catalog
    margin-bottom: 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #223654;
    display: block;
    width: 100%;
    }

h1 {
    font-size: 48px;
    line-height: 56px;
    font-weight: bold;
    margin-top: 72px;
    margin-bottom: 32px;
}

@media (max-width: 1200px) {
    h1 {
        font-size: 36px;
        line-height: 40px;
        margin-top: 48px;
        margin-bottom: 16px;
    }
}

h1:after {
    content: "";
    display: block;
    margin: 0;
    width: 48px;
    padding-top: 4px;
    border-bottom: 4px solid #e58271;
}

h2 {
    font-size: 36px;
    line-height: 40px;
    font-weight: bold;
    margin-top: 48px;
    margin-bottom: 16px;
}

@media (max-width: 1200px) {
    h2 {
        font-size: 28px;
        line-height: 32px;
        font-weight: bold;
        margin-top: 48px;
        margin-bottom: 16px;
    }
}

h3 {
    font-size: 28px;
    line-height: 32px;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 16px;
}

@media (max-width: 1200px) {
    h3 {
        font-size: 25px;
        line-height: 32px;
        font-weight: bold;
        margin-top: 24px;
        margin-bottom: 16px;
    }
}

h4 {
    font-size: 21px;
    line-height: 24px;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 8px;
}

h5 {
    font-size: 19px!important;
    line-height: 24px!important;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 0px;
}

h6 {
    font-size: 16px!important;
    line-height: 20px!important;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 0px;
}

// class to capitalize the first letter
.cap-first::first-letter {
    text-transform: capitalize;
}

.headline {
    background-color: #223654!important;
    }

::ng-deep .mat-form-field-outline-start {
border-radius: 0 !important;
}

::ng-deep .mat-form-field-outline-end {
border-radius: 0 !important;
}

.qcca-theme igo-search-bar svg {
    background-color: #095797;
    color: white;
    }
    
    .qcca-theme .search-bar-buttons { 
    background: #095797!important;
    }
    
    .qcca-theme .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    border-color: #095797!important;
    }

    .qcca-theme input.mat-input-element {
    color: #647287;
    font-family: 'Open Sans', sans-serif;
}


::ng-deep .igo-panel-header, ::ng-deep .igo-panel-title, small,
igo-list [igolistitem][color=accent].igo-list-item-selected > mat-list-item {
    color: white!important;
}

.qcca-theme igo-list [igolistitem][color=accent].igo-list-item-selected > mat-list-item {
    background-color: #4A98D9;

    h4, small {
        color: white!important;
    }
}

::ng-deep igo-search-results-item small {
    color: white!important;
}

// Exemple de template d'AVIS:

// Structure html :
//<p class="avis">
//  <span class="avis-icon avis-important"><mat-icon svgIcon="alert-outline"></mat-icon></span>
//  <span class="avis-content">
//      <span class="avis-title">Title</span><br>
//      <span class="avis-label">Label</span>
//  </span>
//</p>
//

.avis {
    height: max-content;
    width: 100%;
    display: flex;
}

.avis-icon {
    width: 40px;
    display: inline-block;
}

.avis-icon .mat-icon {
    margin: 24px 8px 0 8px;
}

.avis-content {
    padding: 24px 24px 24px 16px;
    display: inline-block;
}

.avis-title {
    font-weight: bold;
    font-size: 14px;
    color: #223654;
    display: inline-block;
    width: 100%;
}

.avis-label {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    color: #223654;
}

.avis-general {
    background-color:#D9E6F0;
}

.avis-general svg { // <mat-icon svgIcon="information-outline"></mat-icon>
    color: #095797!important;
}

.avis-important {
    background-color:#F8E69A;
}

.avis-important svg { // <mat-icon svgIcon="alert-outline"></mat-icon>
    color: #E0AD03!important;
}

.avis-success {
    background-color:#BCDA9A;
}

.avis-success svg { // <mat-icon svgIcon="check-circle-outline "></mat-icon>
    color: #4F813D!important;
}

.avis-erreur {
    background-color:#EDBAB1;
}

.avis-erreur svg { // <mat-icon svgIcon="close-circle-outline "></mat-icon>
    color: #CB381F!important;
}

.avis-complementaire {
    background-color:#F2F1F1;
}

.avis-complementaire svg { // <mat-icon svgIcon="lightbulb-outline"></mat-icon>
    color: #83868B!important;
}

// input fields

::ng-deep .mat-form-field-outline-end,  ::ng-deep .mat-form-field-outline-start {
    border-color: #4E5662;
    height: $igo-icon-size!important;
  }
  
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
top: 0!important;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper, ::ng-deep .search-bar-buttons {
margin-top: 0;
}

::ng-deep .igo-search-bar-container {
height: $igo-icon-size!important; // anomaly
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix input {
line-height: $igo-icon-size;
vertical-align: middle;
border-top: 0;
padding: 0;
margin-top: 0;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
padding: 0;
border-top: 0!important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper, .search-bar-buttons, ::ng-deep .mat-form-field-outline-end,  ::ng-deep .mat-form-field-outline-start {
height: $igo-icon-size;
padding: 0;
margin-top:0;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
padding: 0 8px 0 8px;
margin-top: 0!important;
height: $igo-icon-size;
}

::ng-deep mat-form-field {
padding: 0!important;
}

::ng-deep .mat-form-field-outline-start {
border-radius: 0 !important;
}

::ng-deep .mat-form-field-outline-end {
border-radius: 0 !important;
}

::ng-deep .toast-message, ::ng-deep #toast-container, ::ng-deep .toast-title, toast-container, ::ng-deep .toast-error {
    color: white!important;
}

igo-spinner {
  position: absolute;
  top: calc($header-height-mobile + 4px) !important;
  right: 4px;
  z-index: 100;
}

spinner-with-legend-dialog {
  position: absolute;
  top: calc($header-height-mobile + 4px) !important;
  right: 345px;
  z-index: 100;
}

@media (min-width: 768px){
  igo-spinner {
    top: calc($header-height + 4px)!important;
    right: 4px;
    z-index: 100;
  }

  spinner-with-legend-dialog {
    top: calc($header-height + 4px)!important;
    right: 345px!important;
    z-index: 100;
  }
}