<div class="header">
    <div class="stations">
        <p *ngIf="currentTotalNumberOfStations > 1" class="totalNumberOfStations"><b>{{ currentTotalNumberOfStations }} stations</b></p>
        <p *ngIf="currentTotalNumberOfStations === 1" class="totalNumberOfStations"><b>{{ currentTotalNumberOfStations }} station</b></p>
        <p class="stationsBounds"><b>Stations {{ lowerBound }} à {{ upperBound }}</b></p>
    </div>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <div class="options">
        <div *ngIf="show" class="order">
            <h6 class="orderLabel" style="display: inline">Trier par : </h6>
            <mat-form-field class="orderSelect" appearance="outline">
                <mat-select disableOptionCentering [value]="currentOrder$ | async"
                    (selectionChange)="changeCurrentOrder($event)">
                    <mat-option *ngFor="let order of orders"
                        [value]="order.value">
                        {{ order.label }}
                    </mat-option>
                </mat-select>
                <mat-icon matSuffix svgIcon="chevron-down"></mat-icon>
            </mat-form-field>
        </div>
        <div class="numberOfStationPerPage">
            <h6 class="numberOfStationsPerPageLabel" style="display: inline">Nombre de stations par page : </h6>
            <mat-form-field class="numberOfStationsPerPageSelect" appearance="outline">
                <mat-select [value]="currentNumberOfStationsPerPage$ | async"
                    (selectionChange)="changeCurrentNumberOfStationsPerPage($event)">
                    <mat-option *ngFor="let numberOfStationsPerPageOption of numberOfStationsPerPageOptions"
                        [value]="numberOfStationsPerPageOption">
                        {{ numberOfStationsPerPageOption }}
                    </mat-option>
                </mat-select>
                <mat-icon matSuffix svgIcon="chevron-down"></mat-icon>
            </mat-form-field>
        </div>
    </div>
</div>

