.stations {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.options {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}

.order, .numberOfStationsPerPage {
    flex: 1;
}

.totalNumberOfStations, .stationsBounds {
    margin: 0px;
}

.orderLabel, .numberOfStationsPerPageLabel {
    font-size: 12px;
    font-weight: normal !important;
}

.orderSelect {
    width: 150px;
}

.numberOfStationsPerPageSelect {
    width: 80px;
}

::ng-deep .mat-select-arrow {
    opacity: 0;
}


::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start, .mat-form-field-appearance-outline .mat-form-field-outline-end {
    border-radius: 0 !important;
}

::ng-deep .options .mat-form-field-flex {
    align-items: center;
    border-radius: 0!important;
    height: 40px;
}

::ng-deep .mat-select-panel, ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end {
    border-radius: 0!important;
}

::ng-deep .mat-select-panel-wrap {
    border-radius: 0!important;
    //margin-top: 24px;
}

::ng-deep .mat-select, ::ng-deep .mat-option-text {
    font-family: 'open sans', sans-serif!important;
}

::ng-deep .options .mat-form-field-infix {
    padding: 0!important;
    height: 40px!important;
    margin: 0!important;
}

::ng-deep .blue-theme .mat-primary .mat-option:focus, ::ng-deep .blue-theme .mat-option:hover:not(.mat-option-disabled), ::ng-deep .blue-theme .mat-option:focus:not(.mat-option-disabled) {
    background: #DAE6F0!important;
}

::ng-deep .blue-theme .mat-primary .mat-option.mat-selected, ::ng-deep .select div:hover {
    color: #fff!important;
    background: #1479CC!important;
    font-weight: 500!important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start, ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end, ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap {
    border-radius: 0!important;
}

::ng-deep .blue-theme .mat-form-field-wrapper {
    padding: 0!important;
}