<ng-container *ngIf="(store.entities$ | async)"
  class="featureInfo"
  (keydown)="handleKeyboardEvent($event)">
  <div class="title">
    <h4 color="primary">{{ title }}</h4>

    <button
      class="clear-button"
      mat-icon-button
      igoStopPropagation
      (click)="clearButton()"
      [matTooltip]="'feature.close'| translate"
      color="primary">
      <mat-icon svgIcon="close"></mat-icon>
    </button>
  </div>

  <igo-feature-details *ngIf="resultSelected$.value && !customFeatureDetails"
        [map]="map"
        [feature]="resultSelected$.value.data">
  </igo-feature-details>

  <app-feature-details-custom *ngIf="resultSelected$.value && customFeatureDetails"
    [mobile]="mobile"
    [feature]="resultSelected$.value.data"
    (mapQuery)="mapQueryFromFeatureDetails($event)"
    [mapQueryClick]="mapQueryClick">
  </app-feature-details-custom>

</ng-container>