@import '../../../portal.variables';

:host {

  @include mobile {
    width: 100%;
    overflow-x: clip;
  }
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title h4{
    display: block;
    text-align: center;
}

.title button {
  float: right;
  width: 24px;
  height: 24px;
  margin-left: auto;
}

app-feature-details {
  float: left;
  width: calc(100% - 36px);
  overflow-x: clip;
  margin-right: 8px;
}