@import '../../../portal.variables';

:host {

  @include mobile {
    width: 100%;
    overflow-x: clip;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h4 {
  margin-top: 8px!important;
}

app-feature-details {
  float: left;
  width: 100%;
  overflow-x: clip;
  margin-right: 8px;
}
