@use '@igo2/core/theming/prebuilt-themes/qcca';
@import '../portal/portal.variables.scss';

:host {
  ::ng-deep .portal-with-header {
    height: calc(100% - $header-height-mobile) !important;

    @media screen and (min-width: 768px) {
      height: calc(100% - $header-height) !important;
    }
  }

  header {
    background-color: qcca.colors-get(blue, normal-piv);

    a,
    p {
      font-weight: normal;
      color: #fff;
    }

    a {
      font-size: 14px;
      text-decoration: none;

      &:focus,
      &:hover,
      &:visited {
        text-decoration: underline;
        color: #fff;
      }
    }

    @media (max-width: 575.98px) {
      p {
        margin-bottom: 12px;
      }
    }
  }

  .zone-links {
    @media (min-width: 768px) {
      align-items: center;
    }

    ul {
      text-align: left;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;
      margin: 0;

      a {
        &:hover,
        &:focus {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }

    @include qcca.media-breakpoint-down(mobile) {
      margin-top: 12px;
    }

    @media screen and (min-width: 768px) {
      .zone-links {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
      }
    }
  }

  .zone-title {
    @media (min-width: 768px) {
      margin: 0 0 0 60px;
    }
  }

  ul li:last-child {
    padding: 0;
  }

  .logo {
    height: 100%;
    img {
      width: 200px;
      max-width: 20rem;
      max-height: 7.2rem;
      height: 72px;

      @media (max-width: 575.98px) {
        max-width: min(100%, 20rem);
      }
    }
  }

  #header-logo-print {
    display: none;
  }

  .buttonLanguage {
    background: none;
    border-style: none;
    padding: 0;
    color: unset;
  }
}
