@use 'variables';
@import '../../portal.variables';

:host {
  background-color: rgb(255, 255, 255);

  mat-sidenav {
    @extend %box-shadowed-bottom-right;

    height: $app-sidenav-height;
    width: $app-sidenav-width;

    overflow: visible;
  }

  .app-sidenav-content {
    padding: 0 16px 0 16px !important;
  }

  .app-content,
  igo-panel {
    height: 100%;
  }

  igo-search-results {
    position: relative;
    left: $portal-left !important;
    width: 100%;
    display: contents;
    height: 100%;
  }

  igo-search-results-tool {
    display: block;
    position: relative;
    margin: 0 calc(4 * variables.$igo-margin);
    top: calc(2 * variables.$igo-margin);
    height: 100%;
  }

  .sidepanel-button-container {
    position: absolute;
    top: 50%;
    left: calc($app-sidenav-width + 1px);
    z-index: 1;
    padding: 0;
    transition: left 300ms;

    button {
      border-radius: 0;
      &:hover {
        background-color: #156bb2;
      }
    }
  }

  .sidepanel-closed {
    left: 0 !important;
    position: absolute;
  }

  ::ng-deep .icon svg {
    fill: #ffffff;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  app-search-results-tool,
  app-feature-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 16px 16px 0 16px;
  }

  ::ng-deep app-search-results-tool > div > section > h4 > strong {
    font-size: 21px !important;
  }

  app-feature-info {
    position: relative;
  }

  ::ng-deep .mat-drawer-inner-container {
    top: $search-bar-height;
    position: relative;
    height: calc(100% - $search-bar-height);
  }

  .legend-items img {
    width: 18px;
    vertical-align: middle;
    padding: 0 5px 0 0;
  }

  // info-bulle arrows from panels
  ::ng-deep .tooltip-chart::after {
    content: '' !important;
    position: absolute !important;
    top: 18% !important;
    right: 100% !important;
    margin-top: -5px !important;
    border-width: 10px !important;
    border-style: solid !important;
    border-color: transparent transparent transparent white !important;
    transform: rotate(180deg);
  }

  .legend-container {
    padding: 16px;
  }

  .title {
    margin-top: 8px!important;
  }
}
