@import '../../portal.variables';

:host {
  background-color: rgb(255, 255, 255);
}

mat-sidenav {
  @extend %box-shadowed-bottom-right;

  height: $app-sidenav-height;
  width: $app-sidenav-width;

  @include mobile {
    width: $app-sidenav-width-mobile;
    max-width: 400px;
  }
  overflow: visible;
}

.app-sidenav-content {
  padding: 0 16px 0 16px!important;
}

.app-content, igo-panel {
    height: 100%;
}

/*
.app-sidepanel-content { // no reference to it, to delete ?
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}*/

app-sidepanel {
  width: $app-sidenav-width;
}

::ng-deep igo-search-results {
  position: relative;
  left: $portal-left!important;
  width: 100%;
  display: contents;
  height: 100%;
}

igo-search-results-tool {
    display: block;
    position: relative;
    margin: 0 calc(4 * $igo-margin);
    top: calc(2 * $igo-margin);
    height: 100%;
}

#sidepanel-button {
  position: absolute;
  top: 50%;
  left: calc($app-sidenav-width + 1px);
  z-index: 1;
  padding: 0;
  min-width: 12px!important;
  width: 24px;
  border-radius: 0;
}

#sidepanel-button:hover {
  background-color: #156BB2;
}

.sidepanel-closed {
  left: 0!important;
  position: absolute;
}

::ng-deep .icon svg {
  fill: #FFFFFF;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/*mat-sidenav::backdrop {
  z-index: 999;
}*/

app-search-results-tool, app-feature-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px 16px 0 16px;
}

::ng-deep app-search-results-tool > div > section > h4 > strong {
  font-size: 21px!important;
}

app-feature-info {
  position: relative;
}

::ng-deep .mat-drawer-inner-container {
  top: $search-bar-height;
  position: relative;
  height: calc(100% - $search-bar-height);
}

:host {
  scrollbar-color: #095797 #fff; //firefox
  scrollbar-width: thin; //firefox
}

::ng-deep app-sidepanel .mat-drawer-inner-container::-webkit-scrollbar {
  width: 6px;
}

::ng-deep app-sidepanel .mat-drawer-inner-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #DAE6F0; 
  border-radius: 10px;
}

::ng-deep app-sidepanel .mat-drawer-inner-container::-webkit-scrollbar-thumb {
  background: #095797; 
  border-radius: 10px;
  cursor: pointer; // I wish it worked out
}

// Legend

.mat-icon, mat-button-wrapper, .mat-icon-button .mat-icon, .mat-icon-button {
  line-height: 26px;
  height: 24px;
  width: 24px;
  float: right;
}
.mat-icon svg {
  height: 20px;
  width: 20px;
}

.legend-items img {
  width: 18px;
  vertical-align: middle;
  padding: 0 5px 0 0;
}

// info-bulle arrows from panels
::ng-deep .tooltip-chart::after {
  content: ''!important;
  position: absolute!important;
  top: 18%!important;
  right: 100%!important;
  margin-top: -5px!important;
  border-width: 10px!important;
  border-style: solid!important;
  border-color: transparent transparent transparent white!important;
  transform: rotate(180deg);
}