<div id="sidepanel" class="sidepanel">
  <mat-sidenav 
    #sidenav
    mode="side"
    [autoFocus]="false"
    [(opened)]="panelOpenState"
    (closed)= "closePanelLegend()"
    (closeLegend)="closePanelLegend()">

    <div #content class="app-sidenav-content">

      <div id="legend" *ngIf="legendPanelOpened === true" [mapQueryClick]="mapQueryClick" [legendPanelOpened]="legendPanelOpened" [panelOpenState]="panelOpenState" >
        <button
          mat-icon-button
          [matTooltip]="'legend.legendClose' | translate"
          color="primary"
          (click)="closePanelLegend()"><mat-icon svgIcon="close"></mat-icon>
        </button>
        <h4 mat-dialog-title>{{ 'legend.legendButton' | translate }}</h4>
        <igo-layer-legend-list
          [layers]="mapLayersShownInLegend"
          [excludeBaseLayers]="true"
          [allowShowAllLegends]="false"
          [updateLegendOnResolutionChange]="true"
          [showAllLegendsValue]="false"
          [layers]="layers">
        </igo-layer-legend-list>
      </div>

      <div style="margin: 24px;" *ngIf="searchInit === false && (queryStore.empty$ | async)===true && legendPanelOpened === false">
        <section class="mat-typography">
          <h5><strong>{{ 'igo.integration.searchResultsTool.noResults' | translate }}</strong></h5>
          <h6><strong>{{ 'igo.integration.searchResultsTool.doSearch' | translate }}</strong></h6>
          <p [innerHTML]="'igo.integration.searchResultsTool.examples' | translate"></p>
      </section>
      </div>

      <div #getInfo *ngIf="mapQueryClick === true">

        <app-feature-info
          [map]="map"
          [mobile]="mobile"
          [store]="queryStore"
          [mapQueryClick]="mapQueryClick"
          [searchInit]="searchInit"
          (closeQuery)="closePanelOnCloseQuery()"
          (sidenavClosed)="$event"
          [hasFeatureEmphasisOnSelection]="hasFeatureEmphasisOnSelection">
        </app-feature-info>

      </div>

      <div #search *ngIf="searchInit === true">
          <app-search-results-tool 
            #searchresults
            [showIcons]="true"
            placeholder="false"
            [mapQueryClick]="mapQueryClick"
            [searchInit]="searchInit"
            (resultFocus)="onResultFocus($event)"
            (resultSelect)="onResultFocus($event)"
            (moreResults)="onSearch($event)">
          </app-search-results-tool>
    </div></div>

  </mat-sidenav>
  <button
    [ngClass]="sidenav.opened ? 'sidepanel-opened' : 'sidepanel-closed'"
    #sidenavbutton
    mat-raised-button
    color="primary"
    id="sidepanel-button"
    isRoundButton=false
    isIconButton=true
    MatDrawerMode="push"
    [matTooltip]="sidenav.opened ? ('sidePanel.close' | translate) : 'sidePanel.open' | translate"
    matTooltipPosition="after"
    (click)="sidenav.toggle()">
    <mat-icon
      class="icon"
      [svgIcon]="sidenav.opened ? 'chevron-left' : 'chevron-right'">
    </mat-icon>
  </button>
</div>