.attribute, .body, .update {
    margin: 0px;
}

.station-id {
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: bold;
    cursor: pointer;

}

.body, .update {
    font-size: 12px;
    font-weight: normal !important;
}

.divider {
    margin: 10px 0;
}