<div class=layer-toggles>
    <div class=layer-toggle>
        <h6 class="layer-toggle-title">Couches 1</h6>
        <mat-button-toggle-group #group="matButtonToggleGroup" name="couches1" aria-label="Couches 1">
            <mat-button-toggle color="primary" (click)="toggleLayer('adm')">Régions</mat-button-toggle>
            <mat-button-toggle color="primary" (click)="toggleLayer('afc')">AFC</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div class=layer-toggle>
        <h6 class="layer-toggle-title">Couches 2</h6>
        <mat-button-toggle-group #group="matButtonToggleGroup" name="couches2" aria-label="Couches 2">
            <mat-button-toggle color="primary" (click)="toggleLayer('mtq')">Établissements</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
</div>