<mat-toolbar class="container headline" color="accent">
  <div class="col-12 align-self-end">
    <nav class="navbar">
      <a class="nav-link nav-arrow left" href="#menu-left" routerLinkActive="active">❮</a>
      <div class="main-nav slick-track">
          <a class="nav-link" routerLink="/" routerLinkActive="active" id="menu-left" [routerLinkActiveOptions]="{exact:true}">Accueil</a>
          <a class="nav-link" routerLink="/carte" routerLinkActive="active">Carte</a>
          <a class="nav-link" routerLink="/en-savoir-plus" id="menu-right" routerLinkActive="active">En savoir plus</a>
      </div>
      <a class="nav-link nav-arrow right" color="accent" href="#menu-right" routerLinkActive="active">❯</a>
    </nav>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
