@use 'sass:map';
@use '../../../theme/qcca';
@import '../portal/portal.variables.scss';

:host {
  ::ng-deep {
    .navbar {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding: 0;

      ::-webkit-scrollbar {
        display: none;
      }

      @media (min-width: 768px) {
        a:focus,
        a.active {
          padding-bottom: calc(1rem - 4px) !important;
        }
      }
    }

    .navbar-nav {
      padding-bottom: 0;
    }

    .nav-item {
      margin-bottom: 0;
      line-height: initial;
      margin-right: 0.4rem;
    }

    .nav-link {
      display: block;
      text-decoration: none;
      color: qcca.$light-primary-text;
      letter-spacing: 0;
      font-size: 18px;
      line-height: 28px;

      &.active {
        color: qcca.$light-primary-text !important;
        font-weight: bold;
        display: inline-block;
        margin: 0;
        border-bottom: 4px solid rgba(255, 255, 255, 0.5);
        padding-bottom: 12px;
      }

      @media (max-width: 576px) {
        font-size: 14px;
        line-height: 20px;
        padding: 0 8px 8px 8px !important;
      }
    }

    .nav-arrow {
      z-index: 500;
      position: absolute;
      transition: opacity 0.5s ease;
      // height: 48px;
      // width: 60px;
      color: qcca.$accent;

      &__right-button {
        @media (max-width: 575.98px) {
          right: 0;
          margin-right: -16px;
          background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0) 0%,
            qcca.$blue-dark 55%,
            qcca.$blue-dark 100%
          );
        }
      }
      // background-color: map.get(qcca.$palette, 900);

      &__left-button {
        @media (max-width: 575.98px) {
          left: 0;
          margin-left: -16px;
          background: linear-gradient(
            to left,
            rgba(255, 255, 255, 0) 0%,
            qcca.$blue-dark 55%,
            qcca.$blue-dark 100%
          );
        }
      }

      @media (max-width: 575.98px) {
        align-items: center;
        opacity: 1;
        bottom: 0;
        padding: 0;
        pointer-events: auto;
      }
    }
  }

  .headline {
    background-color: qcca.colors-get(blue, dark);
    padding: 0;

    .row {
      min-height: 72px;
    }
  }

  div.slick-track {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
  }

  .right {
    right: 0;
    padding: 5px 5px 5px 15px !important;
  }

  .left {
    left: 0;
    padding: 5px 15px 5px 5px !important;
  }

  @media (min-width: 400px) {
    .nav-arrow {
      display: none;
    }

    .main-nav {
      width: 98%;
    }
  }
}
