@use 'variables';
@import '../../../../portal.variables';

:host {
  .close-button {
    display: flex;
    justify-content: space-between;
    align-items: center !important;
  }
  igo-feature-details {
    ::ng-deep table {
      margin: 2em auto;
      border-spacing: 0px;
      border-collapse: collapse;
      tbody {
        tr:nth-child(odd) {
          background-color: #fff !important;
        }
        tr {
          border-bottom: 1px solid #dae6f0;
          td {
            font:
              normal 16px/24px 'Open Sans',
              sans-serif;
            color: #223654;
            margin-top: 4px;
            margin-bottom: 4px;
            text-align: left;
            width: 62% !important;
            padding: 0.5em !important;
          }
          td:first-child {
            font-weight: bold;
            margin-bottom: 8px;
            width: 38% !important;
          }
        }
        tr:hover {
          cursor: pointer;
          background-color: #dae6f0 !important;
        }
      }
    }
  }
}
