@import '../../../portal/portal.variables.scss';


/*** header-footer-menu position adjustments ***/

::ng-deep .portal-hasMenu {
  height: $portal-height-hasMenu-mobile !important;
}

::ng-deep .portal-hasHeader-hasMenu {
  height: $portal-height-hasMenu-hasHeader-mobile !important;

}

@media (min-width: 768px){

  ::ng-deep .portal-hasMenu {
    height: $portal-height-hasMenu !important;
  }
  
  ::ng-deep .portal-hasHeader-hasMenu {
    height: $portal-height-hasMenu-hasHeader !important;
  }

  ::ng-deep #legendDialog {
    top: $top-legend-dialog-hasMenu!important; // no header: $top-legend-dialog-hasMenu
    max-height: calc($portal-height-hasFooter-hasMenu - $map-buttons-height)!important; // see portal variables $map-buttons-height-xxxx - $map-buttons-height
  }

}
