<mat-sidenav
  mode="side"
  [autoFocus]="false"
  [(opened)]="opened">

  <div class="app-sidesearch-content">

      <div #content class="app-content" >

        <igo-panel [title]="title$ | async | translate">

          <igo-search-results
            [store]="searchStore"
            [term]="term"
            [showIcons]="true"
            [termSplitter]="termSplitter"
            placeholder="false"
            [settingsChange$]="settingsChange$"
            (resultFocus)="onResultFocus($event)"
            (resultSelect)="onResultFocus($event)"
            (moreResults)="onSearch($event)">
              <ng-template #igoSearchItemToolbar let-result="result">
                <igo-search-add-button
                  [map]="map"
                  [layer]="result">
                </igo-search-add-button>
              </ng-template>
          </igo-search-results>

        </igo-panel>
    </div>
  </div>
</mat-sidenav>
