@import 'src/app/pages/portal/portal.variables.scss';

@media (max-width: 768px) {
    .list-paginator {
        height: calc(100vh - #{$header-height-mobile} - #{$menu-height-mobile} - 111.83px - 99.5px);
    }
}

@media (min-width: 769px) {
    .list-paginator {
        height: calc(100vh - #{$header-height} - #{$menu-height} - 111.83px - 99.5px);
    }
}

.row {
    height: fit-content;
}

.filters-list {
    margin: 0 2%;
    display: flex;
}

.filters {
    margin-right: 0.5%;
    flex: 0 1 auto;
}

.header-list-paginator {
    margin-left: 0.5%;
    flex: 1 1 auto
}

.list-paginator {
    overflow: auto;
}

.paginator {
    margin: 10px 0;
}

.divider {
    margin-bottom: 10px;
}
