<div class="container-fluid">
    <div class="container">
        <div class="row">
            <h1 class="title">Stations</h1>
        </div>
        <div class="filters-list">
            <div class="filters">
                <app-station-filters
                    (filterChange)="setCurrentFiltersString($event)">
                </app-station-filters>
            </div>
            <div class="header-list-paginator">
                <div class="header">
                    <app-station-list-header
                        [currentTotalNumberOfStations]="currentTotalNumberOfStations"
                        [currentPageNumber]="currentPageNumber"
                        (currentOrderChange)="setCurrentOrder($event)"
                        (currentNumberOfStationsPerPageChange)="setCurrentNumberOfStationsPerPage($event)">
                    </app-station-list-header>
                </div>
                <mat-divider class="divider"></mat-divider>
                <div class="list-paginator">
                    <div class="station-list" id="list">
                        <app-station-list
                            [currentOrder]="currentOrder"
                            [currentPageNumber]="currentPageNumber"
                            [currentNumberOfStationsPerPage]="currentNumberOfStationsPerPage"
                            [currentFiltersString]="currentFiltersString"
                            (currentTotalNumberOfStationsChange)="setCurrentTotalNumberOfStations($event)">
                        </app-station-list> 
                    </div>
                    <div class="paginator">
                        <app-station-list-paginator
                            [currentPageNumber]="currentPageNumber"
                            [currentTotalNumberOfStations]="currentTotalNumberOfStations"
                            [currentNumberOfStationsPerPage]="currentNumberOfStationsPerPage"
                            (currentPageNumberChange)="setCurrentPageNumber($event)">
                        </app-station-list-paginator>  
                    </div>
                </div>
            </div>
        </div>
    </div>     
</div>
