@import 'src/app/portal/portal.variables.scss';

@media (max-width: 768px) {
    .container {
        height: calc(100vh - #{$header-height-mobile} - #{$menu-height-mobile});
    }
}

@media (min-width: 769px) {
    .container {
        height: calc(100vh - #{$header-height} - #{$menu-height});
    }
}

.row {
    height: fit-content;
}

.container {
    overflow-y: auto;
}

.header-list-paginator {
    margin: 0 2%;
}

.paginator {
    margin: 10px 0;
}

.divider {
    margin-bottom: 10px;
}
