@use 'sass:map';
@use '@angular/material' as mat;
@use '@igo2/core' as igo;
@use './palette';
@use './typography';
@use './layout';
@use './igo-override';
@use './igo-theme-override';
@use './material-override/index';
@use '../app/app.theming' as app;

$primary: mat.define-palette(palette.$palette, 500, 400, 700);
$accent: mat.define-palette(palette.$palette, 400, 100, 700);
$warn: mat.define-palette(palette.$palette, 800);
$success: mat.define-palette(palette.$palette, 900);
$background: mat.define-palette(palette.$palette, 100, 100, 100);
$foreground: mat.define-palette(palette.$palette, 700, 700, 700);

$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
      success: $success,
      background: $background
    ),
    typography: typography.$typography,
    density: 0
  )
);

$theme: map.merge(
  $theme,
  (
    foreground:
      igo.theme-foreground(mat.define-palette(palette.$palette, 500, 100, 700))
  )
);

@include mat.core();
@include mat.typography-hierarchy(typography.$typography);
@include mat.all-component-themes($theme);

@include igo.all-component-themes($theme);
@include igo-theme-override.themes($theme);

@include app.themes($theme);

@media (min-width: 1200px) {
  @include mat.typography-hierarchy(typography.$typography-mobile);
}
