<div class="container headline">
    <div class="col-12 align-self-end">
      <nav class="navbar">
        <a class="nav-link nav-arrow left" href="#nav-accueil" routerLinkActive="active">❮</a>
        <div class="main-nav slick-track">
            <a class="nav-link" routerLink="/" routerLinkActive="active" id="nav-accueil" [routerLinkActiveOptions]="{exact:true}">Accueil</a>
            <a class="nav-link" routerLink="/carte" routerLinkActive="active">Carte</a>
            <a class="nav-link" routerLink="/en-savoir-plus" id="nav-en-savoir-plus" routerLinkActive="active">En savoir plus</a>
        </div>
        <a class="nav-link nav-arrow right" href="#nav-en-savoir-plus" routerLinkActive="active">❯</a>
      </nav>
    </div>
</div>
<router-outlet></router-outlet>