@import '../../portal/portal.variables.scss';

  .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    flex-direction: row;
    flex-flow: row nowrap;
    justify-content: flex-start;
    height: $menu-height-mobile;
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 0;
  }

  .nav-link {
    display: block;
    padding: 0 2rem;
    text-decoration: none;
    font-family: "Open sans", sans-serif;
    margin-right: 0.4rem;
    padding: 0 0 1.6rem 0;
  }

  a.nav-link {
    color: #fff;
    text-decoration: none;
    letter-spacing: 0;
    font-size: 1.1rem;
    padding: 0 0.5rem 0.6rem;
  }

  a.nav-link:focus, a.nav-link.active {
    content: "";
    display: block;
    margin: 0;
    border-bottom: 4px solid #c5cad2;
    padding-bottom: calc(0.6rem - 4px);
  }

  .active {
    font-weight: 600!important;
  }

  .main-nav {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    width: 85%;
    margin: 0 auto;
  }

  .headline {
    background-color: #223654;
    padding: 0;
  }

// Responsive menu

div.slick-track {
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
}

.navbar ::-webkit-scrollbar {
  display: none;
}

.nav-arrow {
  color: #f09686!important;;
  font-weight: 1000;
  position: absolute;
  z-index: 100;
  background-color: #223654c5;
  margin: 0;
  bottom: 5px;
}

.right {
  right: 0;
  padding: 5px 5px 5px 15px!important
}

.left {
  left: 0;
  padding: 5px 15px 5px 5px!important
}

  @media (min-width: 400px){
    .nav-arrow {
      display: none;
    }

    .main-nav {
      width: 98%;
    }
  }

  @media (min-width: 768px){
    .navbar {
      height: $menu-height;
    }

    .navbar a {
      padding: 1rem 1.2rem !important;
    }

    .navbar a:focus, .navbar a.active {
      padding-bottom: calc(1rem - 4px)!important;
    }
  }
