@import '../portal/portal.variables.scss';


/*** header-footer-menu overlay adjustment ***/

::ng-deep .portal-hasmenu {
  height: $portal-height-hasmenu-mobile!important;
}

::ng-deep .portal-hasheader-hasmenu {
  height: $portal-height-hasmenu-hasheader-mobile!important;
}

@media (min-width: 768px){

  ::ng-deep .portal-hasmenu {
    height: $portal-height-hasmenu!important;
  }
  
  ::ng-deep .portal-hasheader-hasmenu {
    height: $portal-height-hasmenu-hasheader!important;
  }
}