@import '~@igo2/core/style/partial/core.variables';
@import './pages/portal/portal.variables.scss';

:host {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/*** Message-center ***/
igo-message-center ::ng-deep simple-notifications ::ng-deep div.simple-notification-wrapper {
  right: 10px;
}

/*** header-menu overlay adjustment ***/

$header-height: 72px;
$header-height-mobile: 72px;
$footer-height: 29px;

::ng-deep .portal-hasHeader {
  height: $portal-height-hasHeader-mobile !important;
  display: block;
}

::ng-deep .portal {
  height: 100%;
}

@media (min-width: 768px){

  ::ng-deep .portal-hasHeader {
    height: $portal-height-hasHeader !important;
    display: block;
  }

}

//* Spinner *//

::ng-deep igo-spinner {
  position: absolute;
  top: calc(#{$header-height-mobile} + #{$menu-height-mobile} + 4px) !important;
  right: 4px;
  z-index: 100;
}

::ng-deep spinner-with-legend-dialog {
  position: absolute;
  top: calc(#{$header-height-mobile} + #{$menu-height-mobile} + 4px) !important;
  right: 345px;
  z-index: 100;
}

@media (min-width: 768px){
  igo-spinner {
    top: calc(#{$header-height} + #{$menu-height} + 4px)!important;
    right: 4px;
    z-index: 100;
  }

  spinner-with-legend-dialog {
    top: calc(#{$header-height} + #{$menu-height} + 4px)!important;
    right: 345px!important;
    z-index: 100;
  }
}
