@import '../../node_modules/@igo2/core/style/partial/core.variables';
@import './pages/portal/portal.variables.scss';

:host {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.portal-desktop-embedded {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  height: 100%;
  width: 100%;
  overflow: auto;
  gap: 20px;
  display: flex;
}

.portal-mobile-embedded {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  height: 100%;
  width: 100%;
  overflow: auto;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

/*** Message-center ***/
igo-message-center ::ng-deep simple-notifications ::ng-deep div.simple-notification-wrapper {
  right: 10px;
}

/*** header-menu overlay adjustment ***/

$header-height: 72px;
$header-height-mobile: 72px;
$footer-height: 29px;

::ng-deep .portal-hasHeader {
  height: $portal-height-hasHeader-mobile !important;
  display: block;
}

::ng-deep .portal {
  height: 100%;
}

@media (min-width: 768px){

  ::ng-deep .portal-hasHeader {
    height: $portal-height-hasHeader !important;
    display: block;
  }

}

igo-spinner {
  position: absolute;
  top: 50% !important;
  right: 50% ;
  z-index: 100;
}

::ng-deep .mat-tooltip-hide { display: none!important; } // temporary fix (https://github.com/angular/components/issues/24614)

::ng-deep .mat-form-field-suffix {
  ::ng-deep mat-icon  {
    width: auto !important;
    height: -webkit-fill-available !important;
  }
}

spinner-with-legend-dialog {
  position: absolute;
  top: calc(#{$header-height-mobile} + 4px) !important;
  right: 345px;
  z-index: 100;
}

@media (min-width: 768px){
  igo-spinner {
    top: calc(#{$header-height} + 4px)!important;
    right: 4px;
    z-index: 100;
  }

  spinner-with-legend-dialog {
    top: calc(#{$header-height} + 4px)!important;
    right: 345px!important;
    z-index: 100;
  }
}

.list {
  height: fit-content;
  width: 100%
}

.filters-and-map-only-desktop {
  min-width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
}

.filters-and-map-only-desktop .app-portal {
  width: 100%;
}

.filters-and-map-only-desktop .app-simple-filters {
  min-width: 300px;
  width: 30%;
}

.filters-and-map-desktop {
  min-width: 400;
  display: flex;
  width: 50%;
  flex-direction: column;
  height: 100%;
  gap: 20px;
  height: fit-content;
}

.filters-and-map-mobile {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 20px;
  height: fit-content;
}


