@import '~@igo2/core/style/partial/core.variables';
@import './pages/portal/portal.variables.scss';

:host {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/*** Spinner ***/

igo-spinner {
  position: absolute;
  top: $igo-margin;
  right: $igo-margin;
  z-index: 5;
}

/*** Message-center ***/
igo-message-center ::ng-deep simple-notifications ::ng-deep div.simple-notification-wrapper {
  right: 10px;
}

/*** header-menu overlay adjustment ***/

$header-height: 72px;
$header-height-mobile: 72px;
$footer-height: 29px;

::ng-deep .portal-hasheader {
  height: $portal-height-hasheader-mobile!important;
  display: block;
}

::ng-deep .portal {
  height: 100%;
}

@media (min-width: 768px){

  ::ng-deep .portal-hasheader {
    height: $portal-height-hasheader!important;
    display: block;
  }

}
