@if (ready && feature && feature.properties) {
  <div class="flextable" role="table" class="igo-striped table-container">
    Custom feature details template
    <mat-icon
      class="info"
      color="primary"
      svgIcon="information"
      [matTooltip]="'feature.tooltip' | translate"
      [matTooltipPosition]="mobile ? 'above' : 'right'"
      [matTooltipClass]="mobile ? 'tooltip-above' : 'tooltip-right'"
    >
    </mat-icon>
    <!-- customise this template as you wish, even by layer using feature.meta.id or other layers metadatas -->
    @for (
      property of filterFeatureProperties(feature) | keyvalue;
      track property
    ) {
      <div>
        <div class="table-row">
          @if (
            feature.properties.target === '_blank' && property.key === 'url'
          ) {
            <div class="key flex-row" role="rowheader">
              <!-- <mat-icon mat-list-avatar svgIcon="{{ icon }}"></mat-icon> -->
            </div>
          }
          @if (
            feature.properties.target === '_blank' && property.key === 'url'
          ) {
            <div class="key flex-row" role="rowheader">
              <a
                href="{{ property.value }}"
                target="_blank"
                rel="noopener noreferrer"
              >
                {{ 'igo.geo.targetHtmlUrl' | translate }} {{ title }}</a
              >
              <button
                class="copyClipboard"
                mat-icon-button
                (click)="copyTextToClipboard(property.value)"
              >
                <mat-icon svgIcon="content-copy"></mat-icon>
              </button>
            </div>
          }
          @if (feature.properties.target === undefined) {
            <div id="keyValue" class="key flex-row" role="rowheader">
              {{ property.key }}
            </div>
          }
          @if (
            feature.properties.target === undefined &&
            !isObject(property.value) &&
            !isUrl(property.value) &&
            !isEmbeddedLink(property.value)
          ) {
            <div
              [innerHTML]="property.value"
              class="value flex-row"
              role="cell"
            ></div>
          }
          @if (
            feature.properties.target === undefined &&
            isEmbeddedLink(property.value)
          ) {
            <div class="value flex-row" role="cell">
              <u
                [ngStyle]="{ cursor: 'pointer', color: 'blue' }"
                (click)="openSecureUrl(property.value)"
                >{{ getEmbeddedLinkText(property.value) }}</u
              >
            </div>
          }
          @if (
            feature.properties.target === undefined &&
            !isObject(property.value) &&
            (isDoc(property.value) || isUrl(property.value)) &&
            !isImg(property.value)
          ) {
            <div class="value flex-row" role="cell">
              <u
                [ngStyle]="{ cursor: 'pointer', color: 'blue' }"
                (click)="openSecureUrl(property.value)"
                >{{ 'igo.geo.targetHtmlUrl' | translate }}</u
              >
              <button
                class="copyClipboard"
                mat-icon-button
                (click)="copyTextToClipboard(property.value)"
              >
                <mat-icon svgIcon="content-copy"></mat-icon>
              </button>
            </div>
          }
          @if (
            feature.properties.target === undefined &&
            !isObject(property.value) &&
            isUrl(property.value) &&
            isImg(property.value)
          ) {
            <div class="value flex-row" role="cell">
              <a
                href="{{ property.value }}"
                target="_blank"
                (click)="openSecureUrl(property.value)"
                rel="noopener noreferrer"
              >
                <img
                  igoImageError
                  src="{{ property.value | secureImage | async }}"
                  width="225"
                  height="auto"
                />
              </a>
            </div>
          }
          @if (
            feature.properties.target === undefined && isObject(property.value)
          ) {
            <div
              [innerHTML]="property.value | json"
              class="value flex-row"
              role="cell"
            ></div>
          }
        </div>
      </div>
    }
  </div>
}
