<ng-template #toast>
  <igo-panel
    *ngIf="store.entities$ | async"
    [ngClass] = "getClassPanel()"
    [title]="resultSelected$.value ? getTitle(resultSelected$.value) : ('toastPanel.title' | translate )"
    (click)="onToggleClick($event)"
    tabindex="0"
    (keydown)="handleKeyboardEvent($event)">

    <button
      mat-icon-button
      igoStopPropagation
      panelRightButton
      (click)="clear()">
      <mat-icon svgIcon="close"></mat-icon>
    </button>

    <div #content class="toast-content">

      <igo-feature-details
        *ngIf="resultSelected$.value"
        [feature]="resultSelected$.value.data"
        (htmlDisplayEvent)=setHtmlDisplay($event)>
      </igo-feature-details>
    </div>
  </igo-panel>
</ng-template>

<div *ngIf="isMobile(); else toast">
  <ng-template [ngTemplateOutlet]="toast"></ng-template>
</div>
