<ng-container
  *ngIf="(store.entities$ | async)"
  class = "featureInfo"
  (keydown)="handleKeyboardEvent($event)">

    <app-feature-details
      *ngIf="resultSelected$.value"
      [mobile]="mobile"
      [feature]="resultSelected$.value.data"
      [mapQueryClick]="mapQueryClick">
    </app-feature-details>

    <button
      class="clear-button sideresult-closed"
      mat-icon-button
      igoStopPropagation
      (click)="clearButton()"
      color="primary">
      <mat-icon svgIcon="close"></mat-icon>
    </button>

</ng-container>
