<ng-container
  *ngIf="(store.entities$ | async)"
  class = "featureInfo"
  (keydown)="handleKeyboardEvent($event)">

  <button
    class="clear-button sideresult-closed"
    mat-icon-button
    igoStopPropagation
    (click)="clearButton()"
    [(mapQueryClick)]="mapQueryClick"
    (clearFeature)="removeFeatureFromMap()">
    <mat-icon svgIcon="close"></mat-icon>
  </button>

  <div #content>

    <app-feature-details
      *ngIf="resultSelected$.value"
      [mapQueryClick]="mapQueryClick"
      [feature]="resultSelected$.value.data">
    </app-feature-details>

  </div>
</ng-container>
