<p class="option-label" *ngIf="getNumActiveFilters() > 0"> {{ 'simpleFeatureList.header.options.filters' | translate }}</p>
<div class="selected-options">
    <div class="chips-container">
        <ng-container *ngFor="let filter of activeFilters | keyvalue">
            <div class="filter-container">
                <div *ngFor="let value of filter.value">
                    <div class="option"
                    [matTooltip]="'simpleFilters.removeFilter' | translate"
                    tooltip-position="below" matTooltipShowDelay="500"  matTooltipClass="material-tooltip"
                    (click)="removeFilter(value)">
                    <p class="option-value">{{ value.nom }}</p>
                    <mat-icon class="remove-icon" svgIcon="close"></mat-icon>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>

