::ng-deep .qcca-theme app-legend-dialog button, .qcca-theme app-legend-panel button, #legend-button, ::ng-deep .qcca-theme .mat-raised-button {
    color: #095797 !important;
    border-color: #095797 !important;
    border-radius: 0 !important;
  }