@import '~@igo2/core/style/partial/media';
@import 'variables';


$menu-height : 72px;
$menu-height-mobile: 40px;
$header-height: 72px;
$header-height-mobile: 72px;
$footer-height: 29px;

$portal-height-hasheader-mobile: calc( 100% - #{$header-height-mobile});
$portal-height-hasfooter-hasheader-mobile: calc( 100% - #{$footer-height} - #{$header-height-mobile} );
$portal-height-hasmenu-hasheader-mobile: calc( 100% - #{$header-height-mobile} - #{$menu-height-mobile} );
$portal-height-hasmenu-hasheader-hasmenu-mobile: 300px;//calc( 100% - #{$footer-height} - #{$header-height-mobile} - #{$menu-height-mobile} );
$portal-height-hasfooter: calc( 100% - #{$footer-height} );
$portal-height-hasheader: calc( 100% - #{$header-height});
$portal-height-hasmenu: calc( 100% - #{$menu-height});
$portal-height-hasmenu-hasheader: calc( 100% - #{$header-height} - #{$menu-height} );
$portal-height-hasfooter-hasheader: calc( 100% - #{$footer-height} - #{$header-height} );
$portal-height-hasfooter-hasheader-hasmenu: calc( 100% - #{$footer-height} - #{$header-height} - #{$menu-height} );
