@import './portal.variables';

/*** Main ***/
:host {
  width: 100%;
  height: 100%;
  display: block;
}

mat-icon.disabled {
  color: rgba(0, 0, 0, 0.38);
}

/*** Sidenav ***/
mat-sidenav-container {
  height: 100%;
  width: 100%;
  background-color: #efefef;
  z-index: 5;
  display: unset;
}

mat-sidenav-content {
  @include mobile {
    z-index: auto;
  }
}

/*** Expansion Panel ***/
.spacer {
  flex: 1 1 auto;
}

/*** Search bar ***/
igo-search-bar {
  background-color: $app-background-color;
  font-size: 16px;
  position: absolute;
  top: $igo-margin;
  z-index: 4;
  height: $igo-icon-size;
  margin: 0 $igo-margin;
}

igo-search-bar, app-sideresult {
  width: $search-bar-width;
  left: $search-bar-left;

  @include mobile {
    width: $search-bar-width-mobile;
    max-width: 350px;
  }
}

::ng-deep igo-search-bar {
  height: 100%;
}

igo-search-bar svg {
  //background-color: #4E5662;
  color: white;
  height: 40px;
  width: 40px;
}

::ng-deep .search-bar-buttons { 
  height: 100%; // anomaly fix
  margin-top: 0.25em; // anomaly fix
  background: #4E5662;
}

::ng-deep igo-search-bar .mat-form-field-outline-end,  ::ng-deep igo-search-bar .mat-form-field-outline-start {
  border-color: #4E5662;
  height: $igo-icon-size!important;
}

::ng-deep igo-search-bar .mat-form-field-appearance-outline .mat-form-field-outline {
  top: 0;
}
::ng-deep igo-search-bar .mat-form-field-appearance-outline .mat-form-field-wrapper, ::ng-deep .search-bar-buttons {
  margin-top: 0;
}

::ng-deep .igo-search-bar-container {
  height: $igo-icon-size!important; // anomaly
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix input {
  line-height: $igo-icon-size;
  vertical-align: middle;
  border-top: 0;
  padding: 0;
  margin-top: 0;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0;
  border-top: 0!important;
}

::ng-deep igo-search-bar .mat-form-field-appearance-outline .mat-form-field-wrapper, .search-bar-buttons, ::ng-deep igo-search-bar .mat-form-field-outline-end,  ::ng-deep igo-search-bar .mat-form-field-outline-start {
  height: $igo-icon-size;
  padding: 0;
  margin-top:0;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
  padding: 0 8px 0 8px;
  margin-top: 0!important;
  height: $igo-icon-size;
}


::ng-deep .igo-search-bar-container > mat-form-field {
  padding: 0!important;
}

::ng-deep .mat-form-field-outline-start {
  border-radius: 0 !important;
}

::ng-deep .mat-form-field-outline-end {
  border-radius: 0 !important;
}

::ng-deep .search-bar-buttons > button:nth-child(2):before {
  margin-right: 10px;
}


/*** Map browser ***/
igo-map-browser {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}

igo-map-browser ::ng-deep .ol-attribution {
  left: 50px;
  bottom: $igo-margin;
  text-align: left;
  padding: 0;
  margin-right: 90px;
  background-color: rgba(255, 255, 255, 0);
  width: calc(100% - 500px);

  &.ol-logo-only {
    height: inherit;
  }
  &.ol-collapsed {
    background: none;
    button {
      transform: none;
    }
  }
  button {
    transform: rotate(180deg);
    background-color: white;
    cursor: pointer;
  }
  &.ol-uncollapsible {
    height: auto;
  }
  ul {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 2px 0.5em;
  }
}

igo-map-browser ::ng-deep .ol-overlaycontainer-stopevent {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

igo-map-browser.toast-offset-scale-line
  ::ng-deep
  .ol-overlaycontainer-stopevent
  ::ng-deep
  .ol-scale-line {
  bottom: 50px;
}

igo-map-browser.toast-offset-attribution
  ::ng-deep
  .ol-overlaycontainer-stopevent
  ::ng-deep
  .ol-attribution {
  @include mobile {
    bottom: 50px;
  }
}

::ng-deep igo-baselayers-switcher {
  left: 24px!important;
}

/*** Buttons ***/

#map-buttons {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  z-index: 10;
  position: absolute;
  right: 5px;
  bottom: 0;
  max-height: 50%;
}

.igo-zoom-button-container, button, app-legend-button, igo-zoom-button, igo-offline-button, igo-geolocate-button, igo-home-extent-button {
  margin-top: 4px!important;
  position: unset!important;
  bottom: unset!important;
  margin-left: auto;
  align-self: flex-end;
  margin-top: auto;
}

// all buttons become raised
::ng-deep igo-zoom-button {
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

igo-zoom-button {
  @include tablet {
    display: none;
  }
}

//** ADJUSTMENTS TO FOOTER AND HEADER **//

::ng-deep .map-hasfooter {
  height: calc( 100% - #{$footer-height} )!important;
}

::ng-deep #legend-button-dialog-container {
  top: calc( #{$header-height-mobile} + 4px); 
  max-height: calc(100% - #{$header-height-mobile} - #{$footer-height} - 100px);
}

@media (min-width: 768px){

  ::ng-deep #legend-button-dialog-container {
    top: calc( #{$header-height} + 4px); 
    max-height: calc(100% - #{$header-height} - #{$footer-height} - 180px);
  }
}