@import './portal.variables';

/*** Main ***/
:host {
  width: 100%;
  height: 100%;
  display: block;
}

mat-icon.disabled {
  color: rgba(0, 0, 0, 0.38);
}


/*** Layer toggle ***/
.layer-toggle {
  display: flex;
  flex-flow: column;
  position: absolute;
  z-index: 1002!important;
  background-color: rgba(255, 255, 255, 0.95);
}

.layer-toggle-desktop {
  top: calc(4 * $igo-margin);
  right: 8px;
}

.layer-toggle-mobile {
  top: calc(2 * $igo-margin);
  right: 50%;
  transform: translate(50%);
  ::ng-deep .layer-toggles-title {
    font-size: 14px;
  }
  ::ng-deep .layer-toggle-title {
    font-size: 14px;
  }
  ::ng-deep .button-group {
    transform: scale(0.9);
  }
  ::ng-deep .qcca-theme mat-button-toggle.mat-button-toggle-checked .mat-button-toggle-label-content {
    font-size: 12px;
  }
  ::ng-deep .mat-expansion-panel-body {
    padding: 0 8px 8px;
  }
  .info-toggle {
    transform: scale(0.7);
  }
  ::ng-deep #layer-toggle-date {
    padding-right: 8px;
  }
  ::ng-deep #layer-toggle-scenario {
    padding-left: 8px;
  }
}

/*** Sidenav ***/
mat-sidenav-container {
  height: 100%;
  width: 100%;
  background-color: #efefef;
  z-index: 5;
  display: unset;
}

mat-sidenav-content {
  @include mobile {
    z-index: auto;
  }
}

/*** Expansion Panel ***/
.spacer {
  flex: 1 1 auto;
}

/*** Search bar ***/
igo-search-bar {
  background-color: $app-background-color;
  font-size: 16px;
  position: absolute;
  top: calc(4 * $igo-margin);
  z-index: 4;
  height: $igo-icon-size;
  margin: 0 $igo-margin;
}

igo-search-bar {
  width: $search-bar-width;

  @include mobile {
    width: $search-bar-width-mobile;
    max-width: 360px;
  }
}

igo-search-bar, igo-search-results igo-list, .baselayers {
  left: $portal-left!important;
}

::ng-deep .igo-search-bar-container .mat-icon {
  fill: #FFFFFF;
}

// Mobile pushed elements

::ng-deep .baselayers-pushed {
  left: calc($app-sidenav-width + 4px)!important;
  animation-duration: 3s;
  visibility: visible;
  opacity: 1;
  opacity: 0;
  animation: fadeIn 0.1s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

.igo-baselayers-switcher-mobile, ::ng-deep .ol-scale-line {
  bottom: 48px!important;
  z-index: 1;
}

.igo-baselayers-switcher-mobile {
  left: 4px;
}

::ng-deep .ol-scale-line {
  left: 88px!important; // baselayers-switcher is 80px width
}

.igo-baselayers-switcher {
  z-index: 1;
}

::ng-deep igo-search-bar {
  height: 100%;
}

igo-search-bar svg {
  //background-color: #4E5662;
  color: white;
  height: 40px;
  width: 40px;
}

::ng-deep .search-bar-buttons { 
  height: 100%; // anomaly fix
  margin-top: 0.25em; // anomaly fix
  background: #4E5662;
}

::ng-deep igo-search-bar .mat-form-field-outline-end,  ::ng-deep igo-search-bar .mat-form-field-outline-start {
  border-color: #4E5662;
  height: $igo-icon-size!important;
}

::ng-deep igo-search-bar .mat-form-field-appearance-outline .mat-form-field-outline {
  top: 0;
}
::ng-deep igo-search-bar .mat-form-field-appearance-outline .mat-form-field-wrapper, ::ng-deep .search-bar-buttons {
  margin-top: 0;
}

::ng-deep .igo-search-bar-container {
  height: $igo-icon-size!important; // anomaly
}

::ng-deep igo-search-bar .mat-form-field-appearance-outline .mat-form-field-infix input {
  line-height: $igo-icon-size;
  vertical-align: middle;
  border-top: 0;
  padding: 0;
  margin-top: 0;
}

::ng-deep igo-search-bar .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0;
  border-top: 0!important;
}

::ng-deep igo-search-bar .mat-form-field-appearance-outline .mat-form-field-wrapper, .search-bar-buttons, ::ng-deep igo-search-bar .mat-form-field-outline-end,  ::ng-deep igo-search-bar .mat-form-field-outline-start {
  height: $igo-icon-size;
  padding: 0;
  margin-top:0;
}

::ng-deep igo-search-bar .mat-form-field-appearance-outline .mat-form-field-flex {
  padding: 0 8px 0 8px;
  margin-top: 0!important;
  height: $igo-icon-size;
}

::ng-deep .igo-search-bar-container > mat-form-field {
  padding: 0!important;
}

::ng-deep igo-search-bar .mat-form-field-outline-start {
  border-radius: 0 !important;
}

::ng-deep igo-search-bar .mat-form-field-outline-end {
  border-radius: 0 !important;
}

::ng-deep .search-bar-buttons .mat-icon {
  width: 40px!important;
  display: inline-block!important;
}

/** search bar mobile **/
app-bottomresult {
  position: fixed;
  display: block;
  bottom: 0;
  z-index: 9999;
}


/*** Map browser ***/
igo-map-browser {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}

igo-map-browser ::ng-deep .ol-attribution {
  display: none;
  left: 50px;
  bottom: $igo-margin;
  text-align: left;
  padding: 0;
  margin-right: 90px;
  background-color: rgba(255, 255, 255, 0);
  width: calc(100% - 500px);

  &.ol-logo-only {
    height: inherit;
  }
  &.ol-collapsed {
    background: none;
    button {
      transform: none;
    }
  }
  button {
    transform: rotate(180deg);
    background-color: white;
    cursor: pointer;
  }
  &.ol-uncollapsible {
    height: auto;
  }
  ul {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 2px 0.5em;
  }
}

igo-map-browser ::ng-deep .ol-overlaycontainer-stopevent {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

igo-map-browser.toast-offset-scale-line
  ::ng-deep
  .ol-overlaycontainer-stopevent
  ::ng-deep
  .ol-scale-line {
  bottom: 50px;
}

igo-map-browser.toast-offset-attribution
  ::ng-deep
  .ol-overlaycontainer-stopevent
  ::ng-deep
  .ol-attribution {
  @include mobile {
    display: none;
    bottom: 50px;
  }
}

/*SCALE*/ 

::ng-deep .ol-scale-line-inner {
  border: 1px solid black;
  color: black;
  border-top: none;
  order: 1;
}

::ng-deep div.ol-scale-line {
  position: absolute!important;
  display: block;
  background: unset!important;
  color: black;
  z-index: 5!important;
  transform: unset!important;
}

::ng-deep .olControlScaleLine {
  background: white;
  padding: 5px;

  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";

  /* Netscape */
  -moz-opacity: 0.85;

  /* Good browsers */
  opacity: 0.85;
}
/* ::ng-deep div.ol-scale-line {
  position: relative !important;
  background: unset;
  display: block;
  left: 2px !important;
  top: 3px !important;
  bottom: unset!important;
} */

/*** Buttons ***/

.map-buttons {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  z-index: 10;
  position: absolute;
  bottom: 0;
  max-height: 50%;
  right: 4px;
}

.map-buttons-mobile {
  display: flex;
  flex-direction: column;
  z-index: 10;
  position: absolute;
  bottom: 48px!important;
  max-height: 50%;
  right: 4px;
}

.igo-zoom-button-container, button, #legendPanelButton, app-legend-panel-button, app-legend-button, igo-zoom-button, igo-offline-button, igo-geolocate-button, igo-home-extent-button, #app-legend-button-dialog, mat-dialog-container app-legend-button-dialog, app-legend-button-dialog {
  margin-top: 4px !important;
  position: unset !important;
  bottom: unset !important;
  margin-left: auto;
  align-self: flex-end;
  margin-top: auto;
}

::ng-deep app-legend-panel-button button .mat-button-focus-overlay { // trick to prevent the button to stay focused when legend closes form sidepanel
  opacity: 0 !important;
}

// all buttons become raised
::ng-deep igo-zoom-button {
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

igo-zoom-button {
  @include tablet {
    display: none;
  }
}

// info-bulle arrows from panels
::ng-deep .sideresult .tooltip-chart::after {
    content: ''!important;
    position: absolute!important;
    top: 18%!important;
    right: 100%!important;
    margin-top: -5px!important;
    border-width: 10px!important;
    border-style: solid!important;
    border-color: transparent transparent transparent white!important;
    transform: rotate(180deg);
  }

::ng-deep .sideresult {
    position: absolute!important;
    height: 100%;
  }

//** ADJUSTMENTS TO FOOTER AND HEADER **//

::ng-deep .map-hasfooter {
  height: calc( 100% - $footer-height)!important;
}

::ng-deep #legend-button-dialog-container {
  top: calc($header-height-mobile + 4px); 
  max-height: calc(100% - $header-height-mobile - $footer-height - 100px);
}

@media (min-width: 768px){

  ::ng-deep #legend-button-dialog-container {
    top: calc($header-height + 4px); 
    max-height: calc(100% - $header-height - $footer-height - 180px);
  }
}

