<div class="header-filters">
    <div class="header">
        <p class="header-label"><b>Filtres</b></p>
        <p class="header-reset" (click)="resetFilters()"><b>Effacer les filtres</b></p>
    </div>
  
    <form [formGroup]="filters">
        <div class="filter">
            <p class="filter-label"><b>État</b></p>
            <mat-form-field appearance="outline">
                <mat-select
                    formControlName="etat"
                    multiple
                    placeholder="Afficher les filtres">
                    <mat-option *ngFor="let etat of filtersValues.etat"
                        [value]="etat.value">
                        {{ etat.string }}
                    </mat-option>
                </mat-select>
                <mat-icon matSuffix svgIcon="chevron-down"></mat-icon>
            </mat-form-field>
        </div>
  
        <div class="filter">
            <p class="filter-label"><b>Plan d'eau</b></p>
            <mat-form-field appearance="outline">
                <mat-select
                    formControlName="plan_deau"
                    multiple
                    placeholder="Afficher les filtres">
                    <mat-option *ngFor="let plan_deau of filtersValues.plan_deau"
                        [value]="plan_deau">
                        {{ plan_deau }}
                    </mat-option>
                </mat-select>
                <mat-icon matSuffix svgIcon="chevron-down"></mat-icon>
            </mat-form-field>
        </div>
  
        <div class="filter">
            <p class="filter-label"><b>Numéro de station</b></p>
            <mat-form-field appearance="outline">
                <mat-select
                    formControlName="label"
                    multiple
                    placeholder="Afficher les filtres">
                    <mat-option *ngFor="let label of filtersValues.label"
                        [value]="label">
                        {{ label }}
                    </mat-option>
                </mat-select>
                <mat-icon matSuffix svgIcon="chevron-down"></mat-icon>
            </mat-form-field>
        </div>
    </form>
</div>
  