<div id="bottomResultMobile">
  <mat-expansion-panel>
    <mat-expansion-panel-header _expanded = true>
      <igo-search-bar *ngIf="showSearchBar"
        #searchbar
        (keydown.Space)="$event.stopPropagation()"
        appearance="outline"
        searchIcon ="magnify"
        [matTooltip]="'search-bar' | translate"
        matTooltipShowDelay="500"
        tooltip-position="after"
        [searchSettings]="false"
        color="primary"
        [termSplitter]="termSplitter"
        [forceNA]="forceCoordsNA"
        [store]="searchStore"
        (searchTermChange)="onSearchTermChange($event)"
        [pointerSummaryEnabled]="igoSearchPointerSummaryEnabled"
        (pointerSummaryStatus)="onPointerSummaryStatusChange($event)"
        [searchResultsGeometryEnabled]="searchResultsGeometryEnabled"
        (searchResultsGeometryStatus)="onSearchResultsGeometryStatusChange($event)"
        
        (clearFeature)="removeFeatureFromMap()"
        (searchSettingsChange)="onSearchSettingsChange()"
        >
      </igo-search-bar>
    </mat-expansion-panel-header>
    
        <div #content class="app-sidenav-content">
    
          <div #getInfo *ngIf="(queryStore.empty$ | async)!==true">
    
            <app-feature-info
              [map]="map"
              [store]="queryStore"
              [mapQueryClick]="mapQueryClick"
              [hasFeatureEmphasisOnSelection]="hasFeatureEmphasisOnSelection">
            </app-feature-info>
          </div>

          <div #search *ngIf="(queryStore.empty$ | async)===true">
              <app-search-results-tool
                #searchresults
                [showIcons]="true"
                placeholder="false"
                (resultFocus)="onResultFocus($event)"
                (resultSelect)="onResultFocus($event)"
                (moreResults)="onSearch($event)"
                >
              </app-search-results-tool>
        </div>
</div>