<div id="bottomResultMobile">
  <mat-expansion-panel>
    <mat-expansion-panel-header _expanded = true>
      <igo-search-bar *ngIf="showSearchBar"
        #searchbar
        (keydown.Space)="$event.stopPropagation()"
        appearance="outline"
        searchIcon ="magnify"
        [matTooltip]="'search-bar' | translate"
        matTooltipShowDelay="500"
        tooltip-position="after"
        [searchSettings]="false"
        color="primary"
        [termSplitter]="termSplitter"
        [forceNA]="forceCoordsNA"
        [store]="searchStore"
        (searchTermChange)="onSearchTermChange($event)"
        [pointerSummaryEnabled]="igoSearchPointerSummaryEnabled"
        (pointerSummaryStatus)="onPointerSummaryStatusChange($event)"
        [searchResultsGeometryEnabled]="searchResultsGeometryEnabled"
        (searchResultsGeometryStatus)="onSearchResultsGeometryStatusChange($event)"
        (clearFeature)="removeFeatureFromMap()"
        (searchSettingsChange)="onSearchSettingsChange()"
        >
      </igo-search-bar>
    </mat-expansion-panel-header>

    <app-search-results-tool  
      #searchresults
      [showIcons]="true"
      placeholder="false"
      (resultSelect)="onResultFocus($event)"
      (moreResults)="onSearch($event)"
      >
    </app-search-results-tool>

  </mat-expansion-panel>
</div>