@import '../portal.variables';

:host {
  background-color: rgb(255, 255, 255);
  width: 100%;
}


::ng-deep igo-search-results {
  position: relative;
  left: $portal-left!important;
  width: calc(#{$search-bar-width} - (2 * #{$igo-margin}));
  display: contents;
  height: calc(100% - #{$igo-icon-size} - #{$igo-margin});
}

igo-search-results-tool {
    display: block;
    position: relative;
    margin: 0 calc(4 * #{$igo-margin});
    top: calc(2 * #{$igo-margin});
    height: 100%;
    width: 100%;
}

::ng-deep app-search-results-tool > div > section > h4 > strong {
  font-size: 21px!important;
}

//// MOBILE

igo-search-bar {
  margin: auto;
  width: 100%;
  padding: 1rem;
}

::ng-deep app-bottomresult .mat-expansion-panel-content {
  overflow-y: scroll!important;
  height: 250px;
  width: 100%;
}

#bottomResultMobile {
  position: relative;
  display: block;
  bottom: 0;
}
