<mat-sidenav
  #sidenav
  mode="side"
  [autoFocus]="false"
  [(opened)]="opened">

  <div class="app-sidenav-content">

      <div #content class="app-content">

          <igo-search-results
          [store]="searchStore"
          [term]="term"
          [showIcons]="true"
          [termSplitter]="termSplitter"
          placeholder="false"
          [settingsChange$]="settingsChange$"
          (resultSelect)="onResultFocus($event)"
          (moreResults)="onSearch($event)">
            <ng-template #igoSearchItemToolbar let-result="result">
              <igo-search-add-button
                [map]="map"
                [layer]="result">
              </igo-search-add-button>
            </ng-template>
      </igo-search-results>
    </div>
  </div>
</mat-sidenav>
<button  
  *ngIf="sidenav.opened"
  class='sideresult-opened'
  #sidenavbutton
  mat-raised-button
  id= "sidenav-button"
  isRoundButton=false
  tooltip-position="below"
  matTooltipShowDelay="500"
  isIconButton=true
  MatDrawerMode="push"
  [matTooltip]="'sidenav.close' | translate"
  (click)="sidenav.toggle()">
  <mat-icon svgIcon="menu-left"></mat-icon>
</button>
<button  
  *ngIf="!sidenav.opened"
  class='sideresult-closed'
  #sidenavbutton
  mat-raised-button
  id= "sidenav-button"
  isRoundButton=false
  tooltip-position="below"
  matTooltipShowDelay="500"
  isIconButton=true
  MatDrawerMode="push"
  [matTooltip]="'sidenav.close' | translate"
  (click)="sidenav.toggle()">
  <mat-icon svgIcon="menu-right"></mat-icon>
</button>
