<mat-sidenav
  mode="side"
  [autoFocus]="false"
  [(opened)]="opened">

  <div class="app-sidenav-content">

      <div #content class="app-content" [ngClass]="{toolActivated: toolbox.activeTool$ | async}">

        <igo-home-button *ngIf="showMenuButton">
        </igo-home-button>

          <igo-search-results *ngIf="!hasToolbox"
          [store]="searchStore"
          [term]="term"
          [showIcons]="true"
          [termSplitter]="termSplitter"
          placeholder="false"
          [settingsChange$]="settingsChange$"
          (resultFocus)="onResultFocus($event)"
          (resultSelect)="onResultFocus($event)"
          (moreResults)="onSearch($event)">
            <ng-template #igoSearchItemToolbar let-result="result">
              <igo-search-add-button
                [map]="map"
                [layer]="result">
              </igo-search-add-button>
            </ng-template>
      </igo-search-results>


    </div>
  </div>
</mat-sidenav>
