<div class="container-fluid">
    <div class="container">
        <div class="row">
            <h1 class="d-block themeTitre">Accueil</h1>
            <h2>Infrastructure géomatique ouverte 2.0 (IGO2) / Open GIS Infrastructure 2.0</h2>
            <h4>Qu'est-ce qu'IGO?</h4>
            <p>IGO2 est une solution Web gratuite en géomatique basée sur Angular - Material, OpenLayers et IGO2lib. IGO2 permet de tirer profit d’une multitude de données géographiques grâce à une interface cartographique accessible par un navigateur Web sur un poste de travail et par un appareil mobile. IGO2 a été initié par l'administration publique du Québec (Canada) et issu d’un travail collaboratif basé sur la philosophie des logiciels libres et ouverts (« open source »). Les membres du public en géomatique et du Web qui soumettent des contributions conservent leurs droits d'auteur s'ils partagent leur code source selon la LICENCE LiLiQ-R de type LGPL.</p>
            <p style="display:inline;">Téléchargement et code source : <a style="display:inline;" href="https://github.com/infra-geo-ouverte/igo2" target="_blank" rel="noreferrer">https://github.com/infra-geo-ouverte/igo2<!--img class="linkExtImg" src="../../../../../assets/images/lien-externe.svg" alt="Cet hyperlien s'ouvrira dans une nouvelle fenêtre."--></a></p>
        </div>
    </div>
</div>