::ng-deep .qcca-theme legend-panel-button button, ::ng-deep .qcca-theme .mat-raised-button {
    color: #095797 !important;
    border-color: #095797 !important;
    border-radius: 0 !important;
  }