@use '@igo2/core/all-style';
@use '@igo2/core/layout' as igo-layout;
@use 'style/layout';

@use 'theme/theme.scss';

body {
  margin: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

a {
  word-break: break-word;
  overflow-wrap: break-word;
  cursor: pointer;
}

img {
  vertical-align: middle;
  border-style: none;
}

ul,
ol {
  padding: 2px 1rem;
}
